
.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url(./asset/image/cm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;/*-1 可以当背景*/
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-left{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 35%;
  height: 100%;
}

.App-left-name{
  margin: auto;
  margin-top: 50px;
}

.App-left-github{
  margin: auto;
 margin-top: 10px;

}

.App-left-oneword{
  margin: auto;
  margin-top: 40%;
}

.App-font{
  font-size: 20px;
  font-family: 'Microsoft Yahe';
}


.App-circle{
  margin: auto;
  margin-top: 80px;
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  border: 0px solid white;
  border-radius: 50%;
  background-image: url(./asset/image/lina.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.App-right{
  width: 65%;
  margin-left: 30%;
  margin-top: 7%;
  float: right;
}

.card{
  background-color: grey;
  align-content: center;
  width: 70%;
  height: 130px;
  filter:alpha(Opacity=60);
  -moz-opacity:0.6;
  opacity: 0.6
}

.item-title{
  height: 30px;
}

